body {
	font:12px/18px "Arial", sans-serif;
	background:#424242 url(../images/site-background-no.png) repeat-x center top;
	color:white;
}

body.bigstage {
	background-image:url(../images/site-background-big.png);
}

body.smallstage {
	background-image:url(../images/site-background-small.png);
}

a {
	color:white;
	text-decoration:none;
}

a.active,
a:hover {
	color:#d30612;
	text-decoration:none;
}

h1, h2, h3, h4 {
	font-weight:400;
	margin-top:20px;
	margin-bottom:10px;
}

h1 {
	font-size:25px;
	line-height:30px;
}

h2 {
	font-size:22px;
	line-height:27px;
}

h3 {
	font-weight:600;
}

.centered {
	text-align:center;
}

#header-sec-nav ul li {
	display:inline;
	height:36px;
	padding-top:20px;
	padding-bottom:10px;
	line-height:36px;
	padding-right:15px;
	margin-right:13px;
	background:transparent url(../images/header-sec-nav-separator.png) right bottom no-repeat;
}

#footer #header-sec-nav ul li {
	background-image:url(../images/footer-sec-nav-separator.png);
}

#footer #header-sec-nav ul li.last,
#header-sec-nav ul li.last {
	background:none;
}

#small-stage {
	height:277px;
}

#big-stage {
	height:505px;
	border-bottom:30px solid black;
}

#stage-video {
	width:100%;
	text-align:center;
	margin-top:42px;
}

#stage-text {
	padding-top:35px;
	color:black;
}

#stage-frontpage {
	background:white url(../images/bg-startseite.jpg) no-repeat left top;
}

#stage-produkt {
	background:white url(../images/bg-produkt.jpg) no-repeat left top;
}

#stage-motive {
	background:white url(../images/bg-motive.jpg) no-repeat left top;
}

#stage-leasing {
	background:white url(../images/bg-leasing.jpg) no-repeat left top;
}

#logo {
	height:100px;
	padding-top:30px;
}

#navigation {
	height:114px;
}

body.produkt #navigation {
	height:132px;
}

.shadow {
	box-shadow:0px 0px 50px black;
}

body .shadow {
	background:transparent url(../images/content-top.png) no-repeat left top;
	padding-top:10px;
}

.box {
	background-color:#111111;
	margin-top:15px;
	margin-bottom:25px;
	padding-top:25px;
	padding-bottom:15px;
}

#content, #footer {
	background-color:black;
}

#content {
	background:black url(../images/content-bottom.png) no-repeat left bottom;
	padding-top:15px;
	padding-bottom:30px;
}

body.motive #content {
	padding-top:30px;
}

#footer {
	padding-bottom:30px;
}

#footer .separator {
	background: transparent url("../images/footer-separator.png") top right no-repeat;
	height:200px;
	display:inline-block;
}


#copyright {
	margin-top:30px;
}


.mainnavigation {
	margin-left:42px;
}

.mainnavigation li {
	float:left;
	margin-right:45px;
}

.mainnavigation li:last-child {
	margin-right:0;
}

.mainnavigation li a:hover,
.mainnavigation li a {
	width:65px;
	height:85px;
	text-transform:uppercase;
	color:#9c9b9b;
	font-weight:600;
	text-decoration:none;
	background:transparent url(../images/main-menu-sprite.png) no-repeat left top;
	text-align:center;
	display:table;
}

.mainnavigation li a.active,
.mainnavigation li a:hover {
	color:#d30612;
}

.mainnavigation li a span {
	vertical-align:bottom;
	display:table-cell
}

.mainnavigation a#link-home {
	background-position:0 0;
}

.mainnavigation a#link-motive {
	background-position:-65px 0;
}

.mainnavigation a#link-meinmotiv {
	background-position:-130px 0;
	margin-right:50px;
}

.mainnavigation a#link-leasing {
	background-position:-195px 0;
	margin-right:50px;
}

.mainnavigation a#link-produkt {
	background-position:-260px 0;
}

.mainnavigation a#link-zubehoer {
	background-position:-325px 0;
}

.mainnavigation a#link-ueberuns {
	background-position:-390px 0;
}

.mainnavigation a#link-service {
	background-position:-455px 0;
}

.mainnavigation a#link-login {
	background-position:-520px 0;
}

p {
	margin-bottom:10px;
}

p.more {
	margin-top:10px;
}

p.large {
	font-size:14px;
	line-height:21px;
}

p.notice {
	background-color:#c00;
	color:white;
	padding:3px;
}

.box p {
	margin-left:10px;
	margin-right:10px;
}

span.separator {
	padding-left:10px;
	padding-right:10px;
}

#content ul.smallbullet {
	list-style-image:url(../images/list-item-bullet.png);
	padding-left:25px;
}

#content ul.largebullet {
	font-size:14px;
	line-height:21px;
	list-style-image:url(../images/list-item-bigbullet.png);
}

#content ul li {
	margin-bottom:10px;
	padding-left:15px;
	padding-right:0px;
}

#content ul.large li {
	padding-right:0;
}

#content ul.narrow li {
	margin-bottom:0;
}

img.motiv {
	margin-right:10px;
}

.dreiARot {
	color:#F00;
}

ul.iconlist {
	list-style:none;
	padding:0;
}

ul.iconlist li {
	display:inline;
	margin:0;
	padding:0;
	padding-right:12px;
}

ul.iconlist img {
	border:2px solid silver;
}

#account_flyout,
#language_flyout {
	background:white url(../images/flyout_closed.png) 9px 11px no-repeat;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	height:23px;
	padding-left:38px;
	padding-top:7px;
	overflow:hidden;
	color:black;
}

#language_flyout a span {
	display:none;
}

#header_settings_accountname {
	padding-right:30px;
	margin-right:15px;
	padding-top:4px;
	background:transparent url("../images/icons/settings.png") bottom right no-repeat;
}

#header_cart {
	padding-right:30px;
	padding-top:4px;
	line-height:6px;
	background:transparent url("../images/icons/cart.png") bottom right no-repeat;
}

#header_cart_total {
	padding-right:10px;
	padding-top:4px;
	line-height:6px;
}