<?xml version="1.0"?>
<config>
    <modules>
        <Schrank_DeveloperDefaultConfig>
            <version>0.1.2</version>
        </Schrank_DeveloperDefaultConfig>
    </modules>
    <global>
        <resources>
            <schrank_developerdefaultconfig_setup>
                <setup>
                    <module>Schrank_DeveloperDefaultConfig</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </schrank_developerdefaultconfig_setup>
        </resources>
    </global>
    <default>
        <dev>
            <debug>
                <profiler>1</profiler>
            </debug>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
            <log>
                <active>1</active>
            </log>
            <js>
                <merge_files>0</merge_files>
            </js>
            <css>
                <merge_css_files>0</merge_css_files>
            </css>
        </dev>
    </default>
</config>
